version: 2
jobs:
  build:
    working_directory: ~/code
    docker:
      - image: circleci/android:api-25-alpha
    environment:
      JVM_OPTS: -Xmx3200m
    general:
        artifacts:
            - /home/ubuntu/unideal-android/app/build/outputs/apk/
    steps:
      - checkout
      - restore_cache:
            key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
            name: chmod permissions
            command: chmod +x ./gradlew
      - run:
          name: Tests
          command: ./gradlew test
      - save_cache:
            paths:
                - ~/.gradle
            key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - store_artifacts:
            path: app/build/reports
            destination: reports
      - store_artifacts:
            path:  app/build/outputs
            destination: outputs
      - store_test_results:
            path: app/build/test-results

           

     

          
